{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

        <!-- REPLACE THE INHERITED NAVBAR -->
        {% block my_navbar %} 
        <div class="d-none d-md-flex col-md-4 flex-row justify-content-lg-end">

          <div class="row">

            <!-- =========== MY ACCOUNT BUTTON - A Version for medium and large screens only ======== -->
            <div class="col-lg-6 col-md-5 pl-md-0">

              <!-- IF USER IS AUTHENTICATED (medium and large screens) -->
              {% if user.is_authenticated %}
                <div class="dropdown" >
                  <a class="btn custom-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi, {{ user.first_name }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'accounts:userProfile' user.pk %}">Favourites</a>
                    <a class="dropdown-item" href="{% url 'accounts:userProfile' user.pk %}">Messages</a>
                    <a class="dropdown-item" href="{% url 'accounts:userProfile' user.pk %}">Rental booked</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>

              <!-- IF USER IS NOT AUTHENTICATED (medium and large screens) --> 
              {% else %}
                <div class="dropdown" >
                  <a class="btn custom-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-o" aria-hidden="true"></i> My Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'accounts:login' %}">Favourites</a>
                    <a class="dropdown-item" href="{% url 'accounts:login' %}">Messages</a>
                    <a class="dropdown-item" href="{% url 'accounts:login' %}">Rental booked</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                  </div>
                </div>
              {% endif %}
              
            </div>

            <!-- =========== ADD RENTAL COLUMN and BUTTON for medium and large screens only ======== -->
              <div class="d-none d-md-flex col-md-6 justify-content-md-start justify-content-lg-center">
                <a class="btn btn-info custom-btn" href="{% url 'allRentals:add_rental' %}" role="button" aria-expanded="false">
                  <i class="fa fa-home" aria-hidden="true"></i> Add rental
                </a>
              </div>
          </div>
        </div>
        {% endblock %}

        <!-- ============ HOME SCREEN BEGINS HERE ============ -->
{% block content %}
    <div class="container-fluid">
       
        <div class="row mt-1">
            <div class="col mysubtitle"> Get accomodation within a minute! </div> 
        </div>
        
        <div class="row selection-row  mt-2 mt-md-5 d-flex justify-content-center">

          <!-- ===============DISPLAY SELECTION FORM, Constituency, Ward and Village=========== -->
          <form method="post" action="{% url 'allRentals:list_rentals' %}" method="post">
            {% csrf_token %}
            {{ form.media.js }}

            <div class="col d-flex justify-content-center">
              {{form.constituency|as_crispy_field }} 
            </div>
            <div class="col">
              {{form.ward|as_crispy_field }}
            </div>
            <div class="col">
              {{form.village|as_crispy_field }}
            </div>

            <div class="d-flex justify-content-center mt-2 mt-md-2 px-md-3">
                <button type="submit" class="btn custom-btn btn-info">
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Proceed 
                </button>
            </div>
          </form>
                         
        </div>
        </div>

        <!-- ================= THIS ROW WILL ONLY BE VISIBLE ON SMALL SCREENS ============ -->
        <div class="row mt-2 my-1">
            <div class="col d-flex justify-content-center d-md-none ">
                <footer>
                    <div class="small-text"> Are you a landlord? <a href="{% url 'allRentals:add_rental' %}"> &nbspAdd your rentals <i class="fa fa-home" aria-hidden="true"></i> </a> </div>                    
                </footer>
            </div>
        </div>
        
        
        
    </div>


{% endblock %}