{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2 d-none d-lg-block"></div>
        <div class="col">
            <div class="addrental">
                <div class="row d-flex justify-content-center m-1 m-md-0 mb-md-2">
                    Please fill out the rental details. Fields marked with * are compulsory
                </div>
                <form action="{% url 'allRentals:add_rental' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ rental_form.media.js }}
                    <!-- #{{ form|crispy}} -->
                    {% for field in rental_form %}
                            {{ field.errors }}
                            {{ field|as_crispy_field }}
                            {% if field.name == "ward" %}

                            <div class="mt-0" id="addVillage">
                                <div style="float:right">Can't find your village?
                                    <a class="mylink"><span><i class="fa fa-plus"></i>Add it here </span></a>
                                </div>
                            </div>
                            
                            <div id="addVillageModal" class="modal fade" role="dialog"> </div>

                            {% endif %}
                    {% endfor %}

                    {% for image in images_form %}
                        {{ image|as_crispy_field }}
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn custom-btn">Add Rental</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2 d-none d-lg-block"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function (){
    let my_modal = $("#addVillageModal");      //=======================> ADD MODAL TO VARIABLE my_modal
    const url_form = "add" //=======================> ADD PATH TO VARIABLE url_form
        
    $("#addVillage a").click(function () {
        my_modal.load(url_form, function () {
            my_modal.modal("show");         //========================> OPEN MODAL
           
            const my_url = "{% url 'allRentals:village_add' %}"
            $("addVillageForm").submit(function (e){
                e.preventDefault();         //========================> CANCEL SUBMITING THE FORM
                $.ajax({
                    method: 'POST', //===========> identify as POST parameters
                    data: $(this).serealize(), //===========> data is the data filled on the form
                    dataType: 'json', //===========> convert data to json format
                    url: my_url, //===========> The url that handles POST request
                    success: function (response) {
                        my_modal.modal('hide'); //===========> on submission,close modal popup
                    },
                    error: function (response) {
                        console.log(response); //==============> incase of error, print on browser console
                    }, 
                });
            });
        });
    });
});
</script>


{% endblock %}